html,
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  background-size: auto 100%;
  color: white;
}

.kontext {
  text-align: center;
}

article {
  width: 40rem;
}

article img {
  max-width: 100%;
}

p {
  line-height: 1.5rem;
}

.the-facts {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinningBitcoin {
  width: 600px;
  animation: rotation 30s infinite linear;
}

.bitcoinmining {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.kinamine {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mangelogoer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
